.posterContent::-webkit-scrollbar {
    display: none;
}
.posterImg{
 width: '25vw';
}
.entirePosterContent::-webkit-scrollbar{
    display: none;
}

/*           <svg style= {
                  {
                  width: '2vw', height: '2vw'
              }
          }

          viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path fill="red" d="M11.56 5.56L10.5 4.5 6 9l4.5 4.5 1.06-1.06L8.12 9z"></path></svg>*/
