.footer-list-container{

    font-family: 'Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif';
}
.footer-list-li{
    list-style-type: none;
    padding: 3px;
    display: inline-block;
    min-width: 100px;
    
    width: 25%;
    line-height: 30px;
   
}
.footer-list-a{
    text-decoration: none;
    color: #737373;
    font-size: 13px;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}